

	<% unless error_messages_for('user','owner').empty? %>                             
		<%= error_messages_for 'user','owner' %>
	<% end %>	
</fieldset>
<% form_for @owner do |a| %>
	<%= render :partial => '/users/user_form' %>
  <fieldset class = "signup" >
		<p class = "small_text">
			If you wanted your speedlms site to be at mysubdomain.speedlms.com you should enter 
			"mysubdomain" in the field below. Letters and numbers only — no spaces.
		</p>
		<table>
			<tr>
				<th>
					<div class = "normal" >
						<label for="speedlms_subdomain">
							SpeedLMS Subdomain:
						</label>
					</div>
				</th>
				<td>
					<%= a.text_field :speedlms_subdomain, :size => 20, :class => 'first' %>
				</td>
			</tr>
			<tr>
				<td>
					For Example:
				</td>
				<td>
					<div>
						<span>
							http://
						</span>
						<span class = "bold">
							mysubdomain
						</span>
						<span>
							.speedlms.com
						</span>			
					</div>
				</td>
			</tr>					
			<%= render :partial => '/owners/check_subdomain' %>
		</table>
	</fieldset>
	<fieldset class = "signup" >
		<table>
			<tr>
				<th>
					<div class = "normal" >
						<label for="organisation">
							Organisation:
						</label>
					</div>
				</th>
				<td>
					<div class = "normal" >
						<%= a.text_field :organisation, :size => 20, :class => 'first' %>
					</div>
				</td>
			</tr>
			<tr>
				<th>
					<div class = "normal" >
						<label for="logo">
							Logo:
						</label>
					</div>
				</th>
				<td>
					<div class = "normal" >
						<%= a.file_field :logo, :size => 20, :class => 'first' %>
					</div>
				</td>
			</tr>
			<tr>
				<th>
					<div class = "normal" >
						<label for="timezone">
							Time Zone:
						</label>
					</div>
				</th>
				<td>
					<div class = "normal" >
						<%= a.time_zone_select :timezone %>
					</div>
				</td>
			</tr>
			<tr>
				<th>
					<div class = "normal" >
						<label for="signup_plan_id">
							Select a Plan
						</label>
					</div>
				</th>
				<td>					
					<%= a.select :signup_plan_id, SignupPlan.find(:all, :order => "price").collect{|p| [p.name, p.id]}, {:include_blank => false} %>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<%= a.submit @owner.new_record? ? "Add Owner" : "Update Owner", :class => "submit" %>
				</td>
			</tr>
		</table>
	</fieldset>
<% end %>
