<script type="text/javascript">
	function toggle() {
 		var element = $('form')
 		if (element.style.display == "block") {
			element.style.display = "none"
			$('show').style.display = "block"
			$('hide').style.display = "none"
		}
 		else{
			element.style.display = "block"
			$('hide').style.display = "block"
			$('show').style.display = "none"
		}	
	}
</script>

<div align = "center" >
	<div id = "signup_container">
		<%= render :partial => "tutor", :object => @tutors %>	
		<fieldset class = "signup">	
			Add Tutors 
			<div id="show" style = "display :none">
				<%= link_to "show form", "javascript:toggle()" %>
			</div>
			<div id="hide">
				<%= link_to "hide form", "javascript:toggle()" %>
			</div>
		</fieldset>
		<div id = "form">
			<% if !error_messages_for('tutor', 'user').empty? %>
				<fieldset class = 'signup'>
					<%= error_messages_for 'tutor', 'user' %>
				</fieldset>
			<% end %>			
			<% form_for :tutor,:url => {:action => 'add_tutors'} do |a|%>
				<%= render :partial => '/users/user_form' %>
					<fieldset class = "signup" >
						<p class = "small_text">
							If you wanted your speedlms site to be at mysubdomain.speedlms.com you should enter 
							"mysubdomain" in the field below. Letters and numbers only — no spaces.
						</p>
						<table>
							<tr>
								<th>
									<div class = "normal" >
										<label for="speedlms_subdomain">
											SpeedLMS Subdomain:
										</label>
									</div>
								</th>
								<td>
									<%= a.text_field :speedlms_subdomain, :size => 20, :class => 'first' %>
								</td>
							</tr>
							<tr>
								<td>
									For Example:
								</td>
								<td>
									<div>
										<span>
											http://
										</span>
										<span class = "bold">
											mysubdomain
										</span>
										<span>
											.speedlms.com
										</span>			
									</div>
								</td>
							</tr>				
							<%= render :partial => '/owners/check_subdomain' %>
						</table>
				</fieldset>
				<fieldset class = "signup">
					<table>
						<tr>
							<td>
							</td>
							<td>
								<%= a.submit "Add Tutor" , :class => "submit" %>
							</td>
						</tr>
					</table>
				</fieldset>	
			<% end %>		
		</div>
	</div>
</div>
