<center>
<div id = "login_box" >
	<img border="0" src="/images/speedlmslogo-small.png?1217330484" alt="Speedlmslogo-small"/>
	<h2>
		Hello... <%= @current_user.login %>
	</h2>
	<h2>
		Welcome to the Owner Desk.
	</h2>
	<p class = "login">
		No. of Tutors = <%= @tutors.size %>
		<%= link_to 'Add New Tutor', add_tutors_owners_path %>
	</p>
	<p class = "login">
		No. of Courses = <%= @courses.size %>
		<%= link_to 'Add New Course', courses_path %>
	</p>
</div>
</center>
