<%= error_messages_for "user" %>

<%= render :partial => "tutor" %>	

<% form_for :user, @user, :id => "myform" do |f|%>
<div id="edit_user">Adding Tutors</div>
<div class="form">
	<div class="labels">
		<div class="normal"><label for="login">Login: </label></div>
		<div class="normal"><label for="firstname">Firstname: </label></div>
		<div class="normal"><label for="lastname">Lastname: </label></div>
		<div class="normal"><label for="email">Email: </label></div>
		<div class="normal"><label for="password">Password: </label></div>
		<div class="normal"><label for="password_confirmation">Confirm password: </label></div>
	</div>
	<div class="fields">
		<div class="normal"><%= f.text_field :login, :size => 15 %></div>
		<div class="normal"><%= f.text_field :firstname, :size => 15 %></div>
		<div class="normal"><%= f.text_field :lastname, :size => 15 %></div>
		<div class="normal"><%= f.text_field :email, :size => 15 %></div>
		<div class="normal"><%= f.password_field :password, :size => 15 %></div>
		<div class="normal"><%= f.password_field :password_confirmation, :size => 15 %></div>
		<div class="normal"><%= f.hidden_field :role %></div>
	</div>
	<div class="normal"><%= submit_tag 'submit' %></div>
</div>	
<%end%>			