
<% form_for :user do |f|%>
	<div class="tutor_form">
	<div class="fields">
		<p><label>Login: </label></p>
		<p><label>Firstname: </label></p>
		<p><label>Lastname: </label></p>
		<p><label>Email: </label></p>
		<p><label>Password: </label></p>
		<p><label>Confirm password: </label></p>
	</div>
	<div class="containers">
				<p><%= f.text_field :login, :size => 15 %></p>
				<p><%= f.text_field :firstname, :size => 15 %></p>
				<p><%= f.text_field :lastname, :size => 15 %></p>
				<p><%= f.text_field :email, :size => 15 %></p>
				<p><%= f.password_field :password, :size => 15 %></p>
				<p><%= f.password_field :password_confirmation, :size => 15 %></p>
				<p><%= f.hidden_field :role %></p>
				<p><%= submit_tag 'submit' %></p>
		</div>
	 </div>
	<%end%>			