<%= error_messages_for 'user' %>
<% form_for @current_user do |f| -%>

	<div id="edit_user" ><b>Edit <%= @current_user.firstname %> <%= @current_user.lastname %> </b></div>
	<div class="form">
		<div class="labels">
			<div class="normal">
				<label for="firstname">First Name:</label>
			</div>		
			<div class="normal">
			<label for="lastname">Last Name:</label>
				</div>
				<div class="normal">
			<label for="email">Email:</label>
				</div>
				<div class="normal">
			<label for="login">Username:</label>
				</div>
				<div class="normal">
			<label for="password">Password:</label>
				</div>
				<div class="normal">
			<label for="password_confirmation">Confirm Password:</label>	
				</div>
		</div>
		<div class="fields">
			<div class="normal">
				<%= f.text_field :firstname %>
			</div>
			<div class="normal">	
			  <%= f.text_field :lastname %>	
			</div >		
			<div class="normal">	
				<%= f.text_field :email %>				
			</div>
			<div class="normal">	
				<%= f.text_field :login %>			
			</div>
			<div class="normal">	
				<%= f.password_field :password %>			
			</div>
			<div class="normal">	
				<%= f.password_field :password_confirmation %>		
			</div>	
		</div>
		<div class="normal">	
		<%= submit_tag "Submit" %>	
	</div>	
	</div>
	
<% end -%>		


