<div align = "center" >
	<div id = "signup_container">
		<fieldset class = "signup" >
				<h2>
					Create your Owner account.
				</h2>
			</fieldset>
			<fieldset class = "signup" >
			<% unless error_messages_for('user').empty? %>                             
				<%= error_messages_for :user %>
			<% end %>
			<% form_for :user, :url => users_path do |f| %>			
					<table>
						<tr>
							<th>
								<div class = "normal" >
									<label for="firstname">
										First Name:
									</label>
								</div>
							</th>
							<td>
								<div class = "normal" >
									<%= f.text_field :firstname, :size => 20, :class => 'first' %>
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class = "normal" >
									<label for="lastname">
										Last Name:
									</label>
								</div>
							</th>
							<td>
								<div class = "normal" >
									<%= f.text_field :lastname, :size => 20, :class => 'first' %>
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class = "normal" >
									<label for="email">
										Email:
									</label>
								</div>
							</th>
							<td>
								<div class = "normal" >
									<%= f.text_field :email, :size => 20, :class => 'first' %>
								</div>
							</td>
						</tr>
						<div id = "username_openid">					
						<tr>
							<th>
								<div class = "normal" >
									<label for="login">
										Username:
									</label>
								</div>
							</th>
							<td>
								<div class = "normal" >
									<%= f.text_field :login, :size => 20, :class => 'first' %>
								</div>
							</td>
						</tr>
						<tr>
							<div id = "username_availability_message" >
							
							</div>
						</tr>
						<tr>
							<td>
								*(Check availability of username)
							</td>
							<td>
								<%= submit_to_remote "check_availability", "check availability", 
								:url => {:action => 'check_username_availability'} %>
							</td>
						</tr>
						<tr>
							<th>
								<div class = "normal" >
									<label for="password">
										Password:
									</label>
								</div>
							</th>
							<td>
								<div class = "normal" >
									<%= f.password_field :password, :size => 20, :class => 'first' %>
								</div>
							</td>
						</tr>
						<tr>
							<th>
								<div class = "normal" >
									<label for="password_confirmation">
										Confirm Password:
									</label>
								</div>
							</th>
							<td>
								<div class = "normal" >
									<%= f.password_field :password, :size => 20, :class => 'first' %>
								</div>
							</td>
						</tr>
						</div>
					</table>
			</fieldset>
      <fieldset class = "signup" >
				<p class = "small_text">
					If you wanted your speedlms site to be at mysubdomain.speedlms.com you should enter 
					"mysubdomain" in the field below. Letters and numbers only — no spaces.
				</p>
					<table>
						<tr>
							<th>
								<div class = "normal" >
									<label for="speedlms_subdomain">
										SpeedLMS Subdomain:
									</label>
								</div>
							</th>
							<td>
								<div class = "normal" >
									<span class = "bold">
										http://
									</span>
									<%= f.text_field :speedlms_subdomain, :size => 20, :class => 'first' %>
									<span class = "bold">
										.speedlms.com
									</span>
								</div>
							</td>
						</tr>					
						<tr>
							<td>
								*(Check availability of subdomain)
							</td>
							<td>
								<%= submit_to_remote "check_availability", "check availability", 
								:url => {:action => 'check_subdomain_availability'}, :update => "user_speedlms_subdomain" %>
							</td>
						</tr>
						<tr>
							<div id = "subdomain_availability_message" >
							
							</div>
						</tr>
					</table>
				</fieldset>
				<fieldset class = "signup" >
				<table>
					<tr>
						<th>
							<div class = "normal" >
								<label for="organisation">
									Organisation:
								</label>
							</div>
						</th>
						<td>
							<div class = "normal" >
								<%= f.text_field :organisation, :size => 20, :class => 'first' %>
							</div>
						</td>
					</tr>
					<tr>
						<th>
							<div class = "normal" >
								<label for="logo">
									Logo:
								</label>
							</div>
						</th>
						<td>
							<div class = "normal" >
								<%= f.file_field :logo, :size => 20, :class => 'first' %>
							</div>
						</td>
					</tr>
					<tr>
						<th>
							<div class = "normal" >
								<label for="timezone">
									Time Zone:
								</label>
							</div>
						</th>
						<td>
							<div class = "normal" >
								<%= f.time_zone_select :timezone %>
							</div>
						</td>
					</tr>
					<tr>
						<th>
							<div class = "normal" >
								<label for="signup_plan_id">
									Select a Plan
								</label>
							</div>
						</th>
						<td>
							<%= f.hidden_field :role %>					
							<%= f.select :signup_plan_id, SignupPlan.find(:all).collect{|p| [p.name, p.id]}, {:include_blank => true} %>
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td>
							<%= submit_tag 'Sign up' %>
						</td>
					</tr>
				</table>
			<% end %>		
		</fieldset>
		<fieldset class = "signup">
			<h3 class = "align_center">
				<%= link_to 'Login',new_session_path(:role => @role) %>
			</h3>
		</fieldset> 
	</div>
</div>
