<% remote_form_for @course do |form| %>
  <lable>Name:</lable>
  <p>
  <%= form.text_field :name %> 
  </p>
  <br />
  <lable>Description:</lable>
  <p>
  <%= form.text_area :description, :rows=>3, :cols =>30 %> 
  </p>
  <br />
  <p>
  <%= form.check_box :display_quick_navigation_dropdown %>
  <lable> Display In quick navigation dropdown.</lable>
  </p>
  <h4>Assign tutors </h4>
    <% current_user.resource.tutors.each do |t| %>
      <%= check_box_tag 'tutors[]',t.id, @course.includes_tutor?(t.id) %>
      <%= t.user.login %>
      
    <% end %>
  <br />
  <%= submit_tag 'Save'%>
<% end %>