<html>
  <head>
    <title>
      Welcome to SpeedLMS
    </title>
<%= stylesheet_link_tag "login.css" , :media => "all" %>
  </head>
  <body> 
    <div id = "header">
      <h1>Welcome to SpeedLMS</h1>
    </div>
    <div id = "main">
     <div id = "main-top">
       <% if flash[:notice] %>
         <div id="notice">
           <%= flash[:notice] %>
         </div>
       <% end %>
       <% if flash[:error] %>
         <div id="error">
           <%= flash[:error] %>
         </div>
       <% end %>
       <% if flash[:message] %>
         <div id="message">
           <%= flash[:message] %>
         </div>
       <% end %>
     </div>
      <div id = "main-content">
      </div>
        <div id = "content-left">      
    <%= yield %>        
