<html>
<head>
    <title>Welcome to SpeedLMS</title>
    <%= stylesheet_link_tag "unsecure.css" , :media => "all" %>
    <%= javascript_include_tag :defaults %>
</head>
<body> 
    <div id = "header">
 	<%= render( :partial => 'top_right_menu') %>
    	<h1>Welcome to SpeedLMS PUBLIC CSS</h1>
    </div>
    <div id = "main">
        <div id = "main_top">
            <%= render( :partial => 'flash_notices')%>
        </div>     	
        <div id = "main_content">
            <%= yield %>        
        </div>   	
        <div id = "main_footer">
        </div>
   </div>
</body>
</html>     


