<html>
<head>
    <title>Welcome to SpeedLMS MERGED</title>
    <%= stylesheet_link_tag "unsecure.css" , :media => "all" %>
    <%= javascript_include_tag :defaults %>
</head>
<body>  
    <div id = "header">
		<%= render :partial => '/sessions/top_right_menu' %>
    	<h1>
    		Welcome to SpeedLMS MERGED
    	</h1>
    </div>
		<div id = "main">
   		<%= render :partial => '/sessions/flash_notices'%>
     	<div id = "main_content">
       		<%= yield %>        
     	</div>   	
     	<div id = "main_footer">
     	</div>
   	</div>
	</body>
</html>     
